<p>
  <%= form.label :title %><br />
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :content %><br />
  <%= form.text_area :content %>
</p>
<p>
  <%= form.label :owner_regexes, _('Owner regexes') %><br />
  <%= form.select(:owner_regexes_arr, OpenidRegex.all.map { |r| [r.title , r.id] }, {}, {:multiple => true}) %>
</p>
<p>
  <%= form.label :viewer_regexes, _('Viewer regexes') %><br />
  <%= form.select(:viewer_regexes_arr, OpenidRegex.all.map { |r| [r.title, r.id] }, {}, {:multiple => true}) %>
</p>
<p>
  <%= link_to _('New openid_regex'), new_openid_regex_path, :popup => true %>
</p>

<%= javascript_include_tag "fckeditor/fckeditor" %>
<script type="text/javascript">
FCKeditor.BasePath = "/javascripts/fckeditor/";
var fckEditor = new FCKeditor('question_content', '100%', '330', 'Question');
fckEditor.ReplaceTextarea();
</script>
