<h1><%= _('Editing question') %></h1>
<h3><%=h _("Question's title") + ": " + @question.title %></h3>

<% form_for(@question) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>
  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to _('Show'), @question %> |
<%= link_to _('Back'), questions_path %>
