<h1 class="corner"><%= _('Publicated questions') %></h1>
<table>
  <h3 class="corner"><%= _('New questions') %></h3>
  <tr>
    <th><%= _('title') %></th>
    <th><%= _('IdentityUrl') %></th>
  </tr>
  <%= render :partial => 'question', :collection => @questions_hash[:new] %>
</table>
<table>
  <h3 class="corner"><%= _('Answered questions') %></h3>
  <tr>
    <th><%= _('title') %></th>
    <th><%= _('IdentityUrl') %></th>
  </tr>
  <%= render :partial => 'question', :collection => @questions_hash[:answered] %>
</table>

<br />

<%= link_to _('New question'), new_question_path %>
