<h1><%= _('New question') %></h1>

<% form_for(@question) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>
  <p>
    <%= f.submit _('Create') %>
  </p>
<% end %>

<%= link_to _('Back'), questions_path %>
