<h3><%=h _("Question's title") + ": " + @question.title %></h3>
<p>
  <b><%= _('Content:') %></b>
  <p>
    <%=render_question_content @question.content %>
  </p>
</p>
<p>
  <b><%= _('IdentityUrl:') %></b>
  <p>
    <%=h @question.identity_url %>
  </p>
</p>
<p>
  <b><%= _('OwnerRegex:') %></b>
  <% @question.owner_regexes.each do |regex| -%>
  <p>
    <%=h regex.regex %>
  </p>
  <% end %>
</p>
<p>
  <b><%= _('ViewerRegex:') %></b>
  <% @question.viewer_regexes.each do |regex| -%>
  <p>
    <%=h regex.regex %>
  </p>
  <% end %>
</p>

<%= link_to _('Edit'), edit_question_path(@question) %> |
<%= link_to _('Back'), questions_path %>
