<h1>Listing answers</h1>

<table>
  <tr>
    <th>Id</th>
    <% @question.grid_header.each do |item| %>
    <th><%= item %></th>
    <% end %>
    <th>IdentityUrl</th>
  </tr>

<% for answer in @answers %>
  <tr>
    <td><%=h answer.id %></td>
    <% @question.grid_header.each do |item| %>
    <td><%=h answer.grid_data(item) %></td>
    <% end %>
    <td><%=h answer.identity_url %></td>
  </tr>
<% end %>
</table>
<% content_for :javascript_include do %>
<%= javascript_include_tag "flexigrid" %>
<% end %>
<% content_for :javascript do %>
<% end %>
