<h1><%= _('New answer') %></h1>
<h3><%=h _("Question's title") + ": " + @question.title %></h3>

<% form_for(@answer, :url => question_answer_url(@question, @answer), :method => :put) do |f| %>
  <%= f.error_messages %>

  <p>
    <%=render_question_content @question.content %>
  </p>
  <p>
    <%= f.submit _("Create") %>
  </p>
<% end %>

