<h3><%=h _("Question's title") + ": " + @question.title %></h3>
<p>
  <b><%= _('Content:') %></b>
  <%=h @answer.content %>
</p>
<p>
  <b><%= _('IdentityUrl:') %></b>
  <%=h @answer.identity_url %>
</p>

<%= link_to _('Back'), url_for(@question) %>
