<h1><%= _('Editing openid_regex') %></h1>

<% form_for(@openid_regex) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :regex %><br />
    <%= f.text_field :regex %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to 'Show', @openid_regex %> |
<%= link_to 'Back', openid_regexes_path %>
