<p>
  <b><%= _('Regex') %>:</b>
  <%=h @openid_regex.regex %>
</p>

<p>
  <b><%= _('Title') %>:</b>
  <%=h @openid_regex.title %>
</p>


<%= link_to _('Edit'), edit_openid_regex_path(@openid_regex) %> |
<%= link_to _('Back'), openid_regexes_path %>
